---
layout: base
description:
images: 
 - src: /img/photos/photo8.png
   alt: Photo of P100 alumni Christine Bartlett-Josie
   desc: The training allowed me to connect with a fantastic group of people who I plan to keep in touch with and see where our careers take us. Maybe 10 years from now all of us campaigners will be PCCC trained!
   foot: &mdash; Christine Bartlett-Josie, Connecticut
 - src: /img/photos/photo9.png
   alt:Photo of P100 alumni Jeff Howard
   desc: Having completed nearly an entire degree in political management, I found the P100 training actually taught me more hands-on, applied lessons than I would ever have learned in school.
   foot: &mdash; Jeff Howard
 - src:/img/photos/photo3.png
   alt: Photo of P100 alumni Lindsay Pollard
   desc: A co-worker told me to get involved in politics because I was always talking about it. I said, 'That's not something you can just do, you have to know people.' Turns out, I was wrong; change can be made by people like me. P100 taught me how.
   foot: &mdash; Lindsay Pollard, Florida
 - src: /img/photos/photo12.png
   alt: P100 Alumni
 - src: /img/photos/photo10.png
   alt: P100 Alumni
 - src: /img/photos/photo13.png
   alt: P100 Alumni
 - src: /img/photos/photo14.png
   alt: P100 Alumni
 - src: /img/photos/photo15.png
   alt: P100 Alumni
 - src: /img/photos/photo16.png
   alt: P100 Alumni
---
    
<div class="welcome">
    <div class="container">
		
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      	<div class="col-lg-10 col-lg-offset-1">
      	
      	  <!-- end header-->
      
      <div class="pull-right"><a href="#contact" data-toggle="modal" data-type="host" class="host btn btn-primary btn-large">Want to host a training?</a></div>
     
      	</div>
      </div>
      <div class="row">
      	<div class="col-lg-10 col-lg-offset-1">
       
      <div id="hero" class="row">
        <div id="about" class="col-lg-7 col-md-6">
        <h2>About the P100</h2>
        <p>The P100 Training Project is equipping hundreds of campaign staff and candidates around the country with the nuts-and-bolts tools they need to run smart, competent campaigns from Day One. Our trainings use hands-on exercises to make sure folks don't just learn &mdash; but can also <em>do</em>. </p>
<p>
P100 graduates work on progressive campaigns locally and nationally, and stay connected to their fellow organizers through our innovative alumni program. We're building an army to change who holds power. 
</p>
<p>
We're looking for folks who want to change the world. Are you one of them?</p>
        <p class="p100_actions">
        <a href="{{ site.root_url }}/apply/" class="btn btn-primary btn-large">Apply Today</a>
        <a href="#contact" data-toggle="modal" data-type="hire-grad" class="btn btn-primary btn-large">Hire a Grad</a>
        </p>
        </div>
        <div id="upcoming" class="col-lg-5 col-md-6">
        <h2>Upcoming Trainings</h2>
        
        <ul>	
          {% for training in site.trainings %}
          <li><a href="{{ site.root_url }}/apply/?action_session={{ training.name }}"><h4 class="training_date">{{ training.date }}</h4>
						<p class="training_location">{{ training.location }}</p>
						<p class="training_type">{{ training.type }}</p></a>
					</li>
					{% endfor %}
        </ul>
        </div>
      </div>
      </div>
      </div>
   
</div>
</div>
<div class="container">
<div id="photo_grid" class="row">
  {% for image in images %}
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="thumbnail">
      <img src="{{ site.root_url }}{{ image.src }}" alt="{{ image.alt }}" />
      {% if image.desc %}
      <blockquote>
        <p>{{ image.desc }}</p>
        <footer>{{ image.foot }}</footer>
      </blockquote>       
    </div>
  </div>
  {% endfor %}
</div>
</div>
